#lista{
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-outline-info {
    border-color: transparent;
}

.btn-outline-danger{
    border-color: transparent;
}