<div class="container">
  <div class="row">
    <div class="col-md-5" id="cadastro">
      <h2>Cadastro</h2>

      <form [formGroup]="formCadastro">
        <input formControlName="_id" type="hidden" id="_id" />
        <div class="form-group">
          <input formControlName="nome" type="text" class="form-control" id="nome" aria-describedby="nomelHelp"
            placeholder="Entre com o nome">
          <small id="nomeHelp" class="form-text text-muted">Entre com o nome a ser cadastrado.</small>
        </div>

        <div class="form-group">
          <input formControlName="telefone" type="tel" class="form-control" id="telefone"
            aria-describedby="telefoneHelp" placeholder="Entre com o telefone">
          <small id="telefoneHelp" class="form-text text-muted">Entre aqui como o telefone a ser cadastrado.</small>
        </div>

        <button (click)="resetForm(formCadastro)" type="submit" class="btn btn-danger btn-block">
          <i class="fas fa-user-minus"></i>
          Limpar
        </button>
        <button (click)="salvarCadastro(formCadastro)" type="submit" class="btn btn-success btn-block">
          <i class="fas fa-check"></i>
          Salvar
        </button>
      </form>

    </div>
    <div class="col-md-7">
      <h2>Listagem</h2>

      <div id="lista">
        <ul class="list-group list-group-flush">

          <li *ngFor="let item of cadastroService.cadastros"
            class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-user"></i> {{ item.nome }}
            <i class="fas fa-phone"></i> {{ item.telefone }}

            <button (click)="editCadastro(item)" type="submit" class="btn btn-outline-info">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteCadastro(item._id)" type="submit" class="btn btn-outline-danger">
              <i class="fas fa-user-minus"></i>
            </button>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>